/* Establece el fondo personalizado para la barra de navegación */
.custom-bg-color {
	background-color: #5a4252;
}
/* NavBar.css */
.nav-item .notification-center {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  /* Add this to the existing NotificationCenter.css */
  .dropdown-button {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 24px;
	position: relative;
  }
  
  .dropdown-content {
	position: absolute;
	right: 0;
	top: 50px; /* Adjust as necessary to align with the nav bar */
	background-color: #f9f9f9;
	min-width: 250px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	z-index: 1000;
	border-radius: 4px;
	padding: 5px 0;
  }